*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position:absolute;
    top: 0px;
}
#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Logo and Image */
#logo {
    margin: 10px 34px;
}
#logo img {
    height: 56px;
    margin: 3px 5px;
}

/* List Styling */
#navbar ul {
    display: flex;                                 
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;                

}
#navbar ul li a:hover {
    color:black;
    background-color: white;

}

/* Section home */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 430px;
    justify-content: center;
    align-items: center;
}
#home::before {
    content: "";
    position: absolute;
    background: url("../images/bg1.jpg") no-repeat center center/cover;
    height: 58%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}
#home h1 {
    color: white;
    text-align: center;
    font-family: 'Alkatra', cursive;
}
#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Alkatra', cursive;
}

/* Services Section */

#services {
    display: flex;
    margin: 34px;
}
#services .box {
    border: 2px solid brown;
    padding: 34px;
    text-align: center;
    margin: 3px 6px;
    border-radius: 25px;
    background: #f2f2f2;
}
#services .box img {
    height: 150px;
    display: block;
    margin: auto;
}

/* Client Section */

#client-section {
    height: 385px;

}
#client-section::before {
    content: "";
    position: absolute;
    background: url("../images/Tomato.jpg");
    width: 100%;
    height: 44%;
    z-index: -1;
    opacity: 0.6;
}
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-item {
    padding: 38px;
}
#clients img {
    height: 90px;
}

/* Contact section */

#contact {
    position: relative;

}
#contact::before {
    content: "";
    position: absolute;
    background: url("../images/Contact.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;

}
#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;

}
footer {
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes*/

.h-primary {
    font-size: 40px;                                
    padding: 12px;
}
.h-secondary {
    font-size: 20px;    
    padding: 12px;
}
.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.center {
  text-align: center;  
}







